{% extends 'layouts/app.twig' %}

{% block content %}
    <section class="hero is-info is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <p class="title">
                    Slim auth
                </p>
            </div>
        </div>
    </section>
{% endblock %}